@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: rgba(6, 182, 212, 0.3); /* Dim cyan */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 182, 212, 0.8); /* Bright cyan on hover */
}

body {
  font-family: 'Outfit', sans-serif;
}